[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "nestable"]
	path = nestable
	url = https://github.com/derekunderwood/nestable
